@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;

}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: mistyrose;


}
.contenedor-form{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.726);
    transition: all 1s ease;
    max-width: 900px;
    height: 500px;
    margin: 10px;
    
}

.info{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(240, 216, 214, 0.527);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


}
.back{
    
    margin-left: -330px;
    margin-top: 15px;
    cursor: pointer;
    
}
.back:hover{
    scale: 1.5;
}
.info-childs{
    
    margin-top: 130px;
    width: 100%;
    padding: 0 30px;
}
.info-childs h2{
    font-size: 2.5rem;
}
.info-childs p{
    margin: 15px;
    color: #555;

}
.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-childs input:hover{
    background-color: #9191bd;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

}


.form-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}
.form-info-childs{
    padding: 0 30px;

}
.form-info-childs h2{
    font-size: 2rem;
}
.form-info-childs p{
    color: #555;

}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.burbujagoogle{
    padding: 10px 10px;
    border-radius: 20px;
    border: solid 1px #9191bd;
    cursor: pointer;
    color: #9191bd;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);


}
.burbujagoogle:hover{
    background-color: #c7c7f3;
    color: #fff;
}
.burbujatelefono{
    padding: 10px 10px;
    border-radius: 20px;
    border: solid 1px #9191bd;
    cursor: pointer;
    color: #9191bd;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

}
.burbujatelefono:hover{
    background-color: #c7c7f3;
    color: #fff;
}
.form{
    margin: 30px 0 0 0;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

}
.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}
.form input[type="submit"]{
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

}
.form input[type="submit"]:hover{
    background-color:#7a7a9a ;

}

